$grey-1: #7f7f7f;
$grey-2: #666666;
$grey-3: #4c4c4c;
$grey-4: #333333;
$grey-5: #191919;
$green-1: #25852f;
$green-2: #14691d;
$green-3: #0b3c11;
$red-fade: #754a4a;
$yellow-fade: #b1a560;
$green-fade: #46664a;

$primary-font: 'Questrial', sans-serif;

html, body {
    background-color: $grey-1;
    font-family: $primary-font;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    overflow: auto;
    background-color: $green-1;
    &:nth-child(1) {
        padding-left: 25px;
    }
}

%navlink-link-style {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    width: 100%;
    transition: background-color 0.2s ease;
}

.navlink {
    background-color: $green-3;
    float: left;
    color: white;
    font-size: 1.3em;
    width: 110px;
    a {
        @extend %navlink-link-style;
        &:link, &:visited, &:hover, &:active{
            @extend %navlink-link-style;
        }
        &:hover{
            transition: background-color 0.4s ease;
            background-color: $green-2;
        }
    }
}

@media only screen and (max-width: 560px) {
    .navlink {
        width: 100%;
    }
}

.boardForm, .boardItemForm, .friendForm {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 10px 0 8px;
    background-color: $grey-2;
    input[type=text] {
        margin-bottom: 2px;
        padding-left: 5px;
        height: 30px;
        width: 200px;
        outline: none;
        border: none;
    }
    #boardItemName {
        margin-right: 2px;
        width: 150px;
    }
    #boardItemDescription {
        width: 300px;
    }
}

@media only screen and (max-width: 560px) {
    .boardForm, .boardItemForm, .friendForm {
        text-align: left;
        input {
            width: 100% !important;
        }
    }
}

.makeBoardSubmit, .addFriendSubmit {
    transition: background-color 0.2s ease;
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: $grey-4;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    &:link, &:visited, &:hover, &:active {
        color: white;
    }
    &:hover {
        transition: background-color 0.4s ease;
        background-color: $grey-3;
    }
}

.shareBoard {
    transition: background-color 0.2s ease;
    display: block;
    margin: 20px auto 0;
    text-align: center;
    width: 120px;
    padding: 10px 0;
    background-color: $grey-4;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    &:link, &:visited, &:hover, &:active {
        color: white;
    }
    &:hover {
        transition: background-color 0.4s ease;
        background-color: $grey-3;
    }
}

@media only screen and (max-width: 560px) {
    .shareBoard {
        width: 80% !important;
    }
}

#shareTop {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 10px 0 8px;
    background-color: $grey-2;
    a {
        transition: background-color 0.2s ease;
        display: inline-block;
        width: 200px;
        padding: 10px 0;
        background-color: $grey-4;
        border: none;
        outline: none;
        color: white;
        text-decoration: none;
        &:link, &:visited, &:hover, &:active {
            color: white;
        }
        &:hover {
            transition: background-color 0.4s ease;
            background-color: $grey-3;
        }
    }
}

@media only screen and (max-width: 560px) {
    #shareTop {
        a {
            width: 100% !important;
        }
    }
}

.deleteBoard, .deleteBoardItem, .removeFriend {
    z-index: 100;
    cursor: pointer;
    background-color: #390404;
    background-image: url(/assets/img/deleteButton.jpg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    transition: background-image 0.2s ease;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    float: right;
    outline: none;
    border: none;
    position: relative;
    top: -5px;
    right: -5px;
    &:hover {
        background-image: url(/assets/img/deleteButtonHover.jpg);
        transition: background-image 0.4s ease;
    }
}
.loginHeader{
    margin-top: 40px;
    padding: 20px 0;
    font-size: 80px;
    text-decoration: none;
    display: block;
    text-align: center;
    &:link, &:visited, &:active, &:hover{
        color: $grey-5;
    }
}

.mainForm, .passwordForm {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    padding-top: 130px;
    font-size: 1.2em;
    h3 {
        text-align: center;
    } 
}

#accountPage {
    margin-top: 80px;
    h3 {
        margin: 0 0 20px;
        text-align: center;
        font-size: 30px;
    }
    h4 {
        margin: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }
}
#accountForms {
    margin: 80px 0 0;
    form {
        padding-top: 0;
    }
    h3 {
        margin: 0 0 30px;
    }
}

.formSubmit {
    transition: background-color 0.2s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 1.2em;
    width: 100%;
    background-color: $grey-5;
    border: none;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
    outline: none;
    &:link, &:visited, &:active, &:hover{
        color: white;
    }
    &:hover{
        transition: background-color 0.4s ease;
        background-color: $grey-4;
    }
}

#user, #pass, #pass2, #oldPass {
    text-align: center;
    font-size: 1.1em;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: none;
    display: block;
    margin: 0 auto 5;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: none;
}

#errorMessageWrapper {
    cursor: pointer;
    position: absolute;
    display:none;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
    h3 {
        margin: 0;
        width: 100%;
    }
    #errorMessage {
        font-size: 1.2em;
        color: white;
    }
}

#speech {
    height: 120px;
    width: 250px;
    z-index:300;
}

#board {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#boards, #friends {
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 0 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 560px) {
    #boards, #friends {
        width: 100%;
    }
}

.board, .item, .friend {
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: $grey-3;
    transition: background-color 0.2s ease;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    word-wrap: break-word;
}

.board:hover {
    background-color: $grey-2;
    transition: background-color 0.4s ease;
}

h3.emptyBoard, h3.emptyFriends {
    width: 400px;
    font-size: 1.5em;
    margin: 60 auto 0;
    text-align: center;
}

h3.boardName, h3.friendName {
    float:left;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    padding: 0 40px;
    font-size: 32px;
    margin-top: 20px;
}

h3.friendName {
    margin: 0 0 15px;
}

.itemList {
    padding-top: 60px;
    overflow: auto;
}

.board {
    &:first-child {
        margin-top: 10px;
    }
    &:last-child {
        margin-bottom:10px;
    }
}

#toDo, #inProgress, #complete {
    width: calc(100% / 3);
    float: left;
    padding: 10px 10px 100px;
    box-sizing: border-box;
    h2 {
        margin-top: 0;
    }
}
#toDo {
    background-color: $red-fade;
}
#inProgress {
    background-color: $yellow-fade;
}
#complete {
    background-color: $green-fade;
}

@media only screen and (max-width: 767px) {
    #toDo, #inProgress, #complete {
        width: calc(100%);
        height: auto !important;
    }
}

.pageHeader {
    text-align: center;
    margin: 100px 0 10px;;
    font-size: 40px;
}

#premiumContent {
    margin: 100px 0 20px;
    text-align: center;
    h3 {
        margin: 0 0 80px;
        font-size: 24px;
    }
    h4 {
        margin: 0 0 16px;
        font-size: 28px;
    }
    ul {
        margin: 0 0 80px;
        list-style-type: none;
        padding: 0;
        li {
            margin: 0 0 14px;
            font-size: 18px;
        }
    }
    button {
        transition: background-color 0.2s ease;
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 24px;
        width: 200px;
        background-color: $grey-5;
        border: none;
        padding: 3px 0px;
        color: white;
        text-decoration: none;
        outline: none;
        &:visited, &:active, &:hover{
            color: white;
        }
        &:hover{
            transition: background-color 0.4s ease;
            background-color: $grey-4;
        }
    }
}