/*#region variables */
$grey-1: #7f7f7f;
$grey-2: #666666;
$grey-3: #4c4c4c;
$grey-4: #333333;
$grey-5: #191919;
$green-1: #25852f;
$green-2: #14691d;
$green-3: #0b3c11;
$red-fade: #754a4a;
$yellow-fade: #b1a560;
$green-fade: #46664a;

$primary-font: 'Questrial', sans-serif;
/*#endregion*/

/*#region extends */
%accountForm {
    width: 200px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
    font-size: 1.2em;
    h3 {
        text-align: center;
    }
    input {
        &[type=text], &[type=password] {
            text-align: center;
            font-size: 1.1em;
            width: 100%;
            border: none;
            outline: none;
            box-shadow: none;
            display: block;
            margin: 0 auto 5;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        &[type=submit] {
            transition: background-color 0.2s ease;
            display: block;
            text-align: center;
            margin: 0 auto;
            font-size: 1.2em;
            width: 100%;
            background-color: $grey-5;
            border: none;
            padding: 3px 0px;
            color: white;
            text-decoration: none;
            outline: none;
            &:link, &:visited, &:active, &:hover{
                color: white;
            }
            &:hover{
                transition: background-color 0.4s ease;
                background-color: $grey-4;
            } 
        }
    }
}
%upperSection {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 10px 0 10px;
    background-color: $grey-2;
}
%upperForm {
    @extend %upperSection;
    input {
        height: 30px;
        outline: none;
        border: none;
        &[type=text] {
            padding-left: 5px;    
            width: 200px;
        }
        &[type=submit] {
            transition: background-color 0.2s ease;
            display: inline-block;
            width: 100px;
            background-color: $grey-4;
            color: white;
            text-decoration: none;
            &:link, &:visited, &:hover, &:active {
                color: white;
            }
            &:hover {
                transition: background-color 0.4s ease;
                background-color: $grey-3;
            }
        }
    }
    @media only screen and (max-width: 560px) {
        text-align: left;
        input {
            width: 100% !important;
            &[type=text] {
                margin-bottom: 2px;
            }
        }
    }
}
%itemList {
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}
%emptyItemList {
    font-size: 1.5em;
    margin: 30px auto 30px;
    text-align: center;
}
%itemRow {
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: $grey-3;
    transition: background-color 0.2s ease;
    padding: 10px;
    overflow: hidden;
    word-wrap: break-word;
}
%itemName {
    float:left;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    padding: 0 40px;
    font-size: 32px;
    margin-top: 20px;
}
%appButton {
    transition: background-color 0.2s ease;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 120px;
    padding: 10px 0;
    background-color: $grey-4;
    border: none;
    outline: none;
    color: white;
    text-decoration: none;
    &:link, &:visited, &:hover, &:active {
        color: white;
    }
    &:hover {
        transition: background-color 0.4s ease;
        background-color: $grey-3;
    }
    @media only screen and (max-width: 560px) {
        width: 80% !important;
    }
}
%deleteButton {
    z-index: 100;
    cursor: pointer;
    background-color: #390404;
    background-image: url(/assets/img/deleteButton.jpg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    transition: background-image 0.2s ease;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    float: right;
    outline: none;
    border: none;
    position: relative;
    top: -5px;
    right: -5px;
    &:hover {
        background-image: url(/assets/img/deleteButtonHover.jpg);
        transition: background-image 0.4s ease;
    }
}
/*#endregion */

/*#region global*/
html, body {
    background-color: $grey-1;
    font-family: $primary-font;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    width: 100%;
    overflow: auto;
    background-color: $green-1;
    &:nth-child(1) {
        padding-left: 25px;
    }
}

%navlink-link-style {
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 15px 0;
    width: 100%;
    transition: background-color 0.2s ease;
}

.navlink {
    background-color: $green-3;
    float: left;
    color: white;
    font-size: 1.3em;
    width: 110px;
    a {
        @extend %navlink-link-style;
        &:link, &:visited, &:hover, &:active{
            @extend %navlink-link-style;
        }
        &:hover{
            transition: background-color 0.4s ease;
            background-color: $green-2;
        }
    }
    @media only screen and (max-width: 560px) {
        width: 100%;
    }
}
.pageHeader {
    text-align: center;
    margin: 80px 0 10px;;
    font-size: 40px;
}
#errorMessageWrapper {
    cursor: pointer;
    position: absolute;
    display:none;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    h3 {
        margin: 0;
        width: 100%;
    }
    #errorMessage {
        font-size: 1.2em;
        color: white;
    }
}
/*#endregion */

/*#region login*/
.loginHeader {
    margin-top: 40px;
    padding: 20px 0;
    font-size: 80px;
    text-decoration: none;
    display: block;
    text-align: center;
    &:link, &:visited, &:active, &:hover{
        color: $grey-5;
    }
}
.mainForm {
    @extend %accountForm;
    padding-top: 130px;
}
/*#endregion */

/*#region boards*/
.boardForm {
    @extend %upperForm;
}
.deleteBoard {
    @extend %deleteButton;
}
.unfollowBoard {
    z-index: 100;
    cursor: pointer;
    color: white;
    background-color: $grey-4;
    transition: background-color 0.2s ease;
    display: block;
    width: 80px;
    height: 20px;
    padding: 0;
    float: right;
    outline: none;
    border: none;
    position: relative;
    top: -5px;
    right: -5px;
    &:hover {
        background-color: $grey-3;
        transition: background-color 0.4s ease;
    }
}
#boards, #sharedBoards {
    @extend %itemList;
    @media only screen and (max-width: 560px) {
        width: 100%;
    }
    .board {
        @extend %itemRow;
        .boardName {
            @extend %itemName;
        }
        &:hover {
            background-color: $grey-2;
            transition: background-color 0.4s ease;
        }
    }
}
#sharedBoards {
    .sharedHeader {
        text-align: center;
        margin-bottom: 20px;
    }
}
.emptyBoard {
    @extend %emptyItemList;
}
/*#endregion */

/*#region board*/
.boardItemForm {
    @extend %upperForm;
    #boardItemName {
        margin-right: 2px;
        width: 150px;
    }
    #boardItemDescription {
        width: 300px;
    }
}
.item {
    @extend %itemRow;
}
.boardItemList {
    padding-top: 40px;
    overflow: auto;
}
.shareBoard {
    @extend %appButton;
    margin-top: 20px;
}
.deleteBoardItem {
    @extend %deleteButton;
}
#toDo, #inProgress, #complete {
    width: calc(100% / 3);
    float: left;
    padding: 10px 10px 100px;
    box-sizing: border-box;
    h2 {
        margin-top: 0;
    }
    @media only screen and (max-width: 767px) {
        width: calc(100%);
        height: auto !important;
    }
}
#toDo {
    background-color: $red-fade;
}
#inProgress {
    background-color: $yellow-fade;
}
#complete {
    background-color: $green-fade;
}
/*#endregion */

/*#region share*/
#shareTop {
    @extend %upperSection;
    a {
        @extend %appButton;
    }
}
#sharedFriends, #unsharedFriends {
    @extend %itemList;
    margin-top: 0px;
    @media only screen and (max-width: 560px) {
        width: 100%;
    }
    .sharedHeader {
        text-align: center;
        margin: 40px 0 20px;
    }
    .friend {
        @extend %itemRow;
        padding: 20px 0;
        .friendName {
            @extend %itemName;
            margin: 0;
        }
    }
}
#sharedFriends .friend {
    background-color: $green-1;
}
/*#endregion */

/*#region friends*/
.friendForm {
    @extend %upperForm;
}
.removeFriend {
    @extend %deleteButton;
}
.emptyFriends {
    @extend %emptyItemList;
}
#friends {
    @extend %itemList;
    @media only screen and (max-width: 560px) {
        width: 100%;
    }
    .friend {
        @extend %itemRow;
        .friendName {
            @extend %itemName;
            margin: 0 0 15px;
        }
    }
}
/*#endregion */

/*#region account*/
#accountPage {
    margin-top: 80px;
    h3 {
        margin: 0 0 20px;
        text-align: center;
        font-size: 30px;
    }
    h4 {
        margin: 0 0 20px;
        text-align: center;
        font-size: 22px;
    }
    #accountForms {
        margin: 80px 0 0;
        h3 {
            margin: 0 0 30px;
        }
        .passwordForm {
            @extend %accountForm;
        }
    }
}
/*#endregion */

/*#region premium*/
#premiumContent {
    margin: 0 0 20px;
    text-align: center;
    h3 {
        margin: 0 0 80px;
        font-size: 24px;
    }
    h4 {
        margin: 0 0 16px;
        font-size: 28px;
    }
    ul {
        margin: 0 0 80px;
        list-style-type: none;
        padding: 0;
        li {
            margin: 0 0 14px;
            font-size: 18px;
        }
    }
    button {
        transition: background-color 0.2s ease;
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 24px;
        width: 200px;
        background-color: $grey-5;
        border: none;
        padding: 3px 0px;
        color: white;
        text-decoration: none;
        outline: none;
        &:visited, &:active, &:hover{
            color: white;
        }
        &:hover{
            transition: background-color 0.4s ease;
            background-color: $grey-4;
        }
    }
}
/*#endregion */
